@charset "UTF-8";
/* 루트 */
:root {
  --color-border: #59a66f;
  --color-point: #4cbd6c;
  --color-point-sub: #bee8c9;
  --color-red: #953232;
  --color-gray: #6b7280;
}

:root {
  --font-size-title: 24px;
  --font-size-sub-title: 20px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
}

@media screen and (max-width: 1280px) {
  :root {
    --font-size-title: 22px;
    --font-size-sub-title: 18px;
    --font-size-base: 15px;
    --font-size-sm: 14px;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --font-size-title: 19px;
    --font-size-sub-title: 15px;
    --font-size-base: 14px;
    --font-size-sm: 13px;
  }
}
