.productDetailTopSection {
  width: 100%;
  height: 100%;

  .productDetailTopWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    // 오른쪽 이미지
    .productMainImgWrapper {
      width: 740px;
      height: 740px;
      border: 1px solid var(--color-border);

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    // 왼쪽 정보
    .productTopInfoWrapper {
      width: calc(100% - 786px);
      border-top: 4px solid var(--color-border);
      height: 740px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      // 왼쪽 정보 -상단
      .productInfoHeader {
        padding: 30px 10px;
        border-bottom: 1px solid var(--color-border);

        // tags
        .productTags {
          display: flex;
          .tag {
            margin-right: 5px;
          }
        }

        // brand & category
        .brandAndCategory {
          display: flex;
          margin: 25px 0 5px 0;

          p {
            color: var(--color-gray);
            &::after {
              content: 'ㅣ';
              margin: 0 5px;
            }
            &:nth-last-child(1):after {
              content: '';
            }
          }
        }

        // title
        .productName {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 24px;
        }

        // price & sale
        .priceWrapper {
          display: flex;
          align-items: center;
          margin: 24px 0;
          font-weight: 700;

          .price {
            font-size: 24px;
            margin-right: 10px;
          }

          .sale {
            font-size: 20px;
            color: var(--color-red);
          }
        }

        // description
        .description {
          display: flex;
          height: 200px;
          align-items: end;
          p {
            word-break: keep-all;
          }
        }
      }

      // 왼쪽 정보 -하단
      .productInfoBottom {
        height: 100%;
        padding: 30px 10px 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
          margin-bottom: 5px;
          span {
            font-weight: 600;
            margin-right: 15px;
          }
          &:nth-child(3) {
            font-style: italic;
          }
        }
      }

      // Button
      .addToCartButton {
        display: flex;
        align-items: end;

        select {
          height: 60px;
          width: 200px;
          padding: 0 20px;
          font-weight: 600;
          -webkit-appearance: none; /* 크롬 화살표 없애기 */
          -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
          appearance: none; /* 화살표 없애기 */
          display: inline-block;
          border: 1px solid var(--color-border);
          color: var(--color-border);
          background-color: transparent;
          margin-right: 10px;
          background: url('../../../../../../public/chevron-down-solid.svg')
            no-repeat right 24px center;
        }
      }
    }
  }
}
