.button {
  width: 100%;
  height: 60px;
  background-color: var(--color-point);
  font-weight: 600;
  color: #fff;
  font-size: var(--font-size-base);

  &.disabled {
    background-color: var(--color-gray);
  }
}

@media screen and (max-width: 1280px) {
  .button {
    height: 50px;
  }
}
