.button {
  width: 100%;
  height: 60px;
  background-color: var(--color-point);
  font-weight: 600;
  color: #fff;
  // font-size: 20px;

  &.disabled {
    background-color: var(--color-gray);
  }
}
